html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(164, 164, 175);
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
}

.container {
    margin: 0 auto;
    position: relative;
}

.elems {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {

    border: 2px solid black;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

input {

    display: block;
    padding: 0.5rem;

    width: 15rem;
    font-size: 3rem;
    text-align: center;
    background-color: rgb(226, 83, 83);
    cursor: pointer;
    border-radius: 1rem;
    margin-top: .5rem;
    color: gold;
}